

<% flash.each do |message_type, message| %>
	<div><%= message %></div>
<% end %>

<div class=login>
	<h1>Login Page</h1>
		<%= form_for :session, url: login_path do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Log in" %>
		<% end %>
		<br>
</div>


