<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <% if logged_in? %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        
          <% link_to "sample app", '#', id: "logo" %>
            <nav>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Homepage", welcome_homepage_path %></li>
                
                <li><%= link_to "Courses", courses_path %></li>

                <li><%= link_to "Units", contents_path %></li>

                <li><%= link_to "Users", users_path %></li>

              	<li><%= link_to "Log out", logout_path, method: :delete %></li>
              </ul>
            </nav>
        </header> 
      <div class="container-fluid">
          <div class="row">
          <div class="col-md-8 col-md-offset-2"></div>
          </div>
        <div class="page-header">
        <h1>Welcome <%= current_user.name %>!</h1>
        </div>
      </div>
    <% else %>
    	<%# link_to "Log in", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
